@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.incorrect {
  color: red;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}
